section {
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.pub-list {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
}

.pub-list li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.pub-list .year {
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}

.pub-list a {
  text-decoration: none;
  opacity: 0.7;
}

.pub-list a:hover {
  opacity: 1;
}

