/* ===== Page width & breathing room ===== */

main {
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem 1.5rem 4rem;
}


/* ===== Section spacing ===== */

section {
  margin-top: 4rem;
}


/* ===== Section titles (Publications / Talks / Posters) ===== */

h2 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  letter-spacing: 0.2px;
}


/* ===== List reset ===== */

.pub-list {
  list-style: none;
  padding-left: 0;
}


/* ===== Items ===== */

.pub-list li {
  margin-bottom: 0.9rem;
  line-height: 1.6;
  font-size: 0.98rem;
}


/* ===== YEAR DIVIDERS (this is the key improvement) ===== */

.pub-list .year {
  margin-top: 2.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 0.55;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* ===== Links ===== */

.pub-list a {
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.65;
  margin-left: 6px;
}

.pub-list a:hover {
  opacity: 1;
}


/* ===== Optional: soften bullets ===== */

.pub-list li::marker {
  opacity: 0.3;
}

